.login_header {
    line-height: 80px;
    font-size: 40px;
    font-weight: normal;
    text-align: center;
    color: #eeeeee
}

.login_card {
    border-radius: 5px;
    padding: 5px;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}

@media only screen and (min-width: 601px) {
    .error {
        width: 30%;
        padding: 20px;
        border-radius: 5px;
        background-color: #f14236;
        transition: 0.2s;
        color: white;
    }
}

@media only screen and (max-width: 600px) {
    .error {
        width: 90%;
        padding: 20px;
        border-radius: 5px;
        background-color: #f14236;
        transition: 0.2s;
        color: white;
    }
}

.closeButton {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 20px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.2s;
}

@media only screen and (min-width: 601px) {
    .login_question {
        padding: 20px;
        color: #EEEEEE;
        background: #333333;
        border-radius: 5px;
        font-size: 20px;
        width: 30%;
    }
}

@media only screen and (max-width: 600px) {
    .login_question {
        padding: 20px;
        color: #EEEEEE;
        background: #333333;
        border-radius: 5px;
        font-size: 20px;
        width: 90%;
    }
}

.login_title {
    font-size: 30px;
    text-align: center;
}

.white_submit:hover {
    color: #eeeeee;
}

.white_submit:focus {
    outline: none;
}

.white_submit {
    width: 100%;
    padding: 5px;
    border-radius: 5px;
    background: #a87ac7;
    border: 2px solid #111111;
    color: #333333;
    font-size: 20px;
    font-family: 'Aldrich';
    font-weight: bold;
    transition: 0.2s;
    cursor: pointer;
}

.white_submit:active {
    border: 2px solid #a87ac7;
    outline: none;
}

.green_text:focus {
    border: 2px solid #87e7b7;
    outline: none;
}