<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <link href='https://fonts.googleapis.com/css?family=Aldrich' rel='stylesheet'>
    <link rel="stylesheet" th:href="@{/global_styles.css}">
    <link rel="stylesheet" th:href="@{/login_styles.css}">

    <title>Login</title>
</head>

<body>
    <div class="login_header">
        <span>Sign up page</span>
    </div>

    <div class="login_card">
        <div class="space"></div>
        <div class="login_question">
            <div class="login_title">
                <span>Sign up</span>
            </div>
            <form autocomplete="off" th:action="@{/api/signup}" method="post">
                <br>
                <label>Your nickname:</label>
                <input class="green_text" type="text" name="nickname">
                <label>Your email:</label>
                <input class="green_text" type="text" name="email">
                <label>Your password:</label>
                <input class="green_text" type="password" name="password">
                <div class="space"></div>
                <input class="pink_submit" type="submit" value="Sign up" name="signup">
            </form>
            <form autocomplete="off" th:action="@{/login}">
                <input class="pale_submit" type="submit" value="Have an account?" name="login">
            </form>
        </div>
    </div>
</body>
</html>