body {
    background-color: #111111;
}

canvas {
    border-radius: 10px;
    background-color: #555555;
    padding: 20px;
    margin: 20px;
}

.content {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.buttons {
    width: 50%;
    padding: 20px 0 20px 0;
    display: flex;
}

.blue_button {
    flex: 100%;
    padding: 5px;
    border-radius: 10px;
    background: #3cabf5;
    border: 2px solid #111111;
    color: #333333;
    font-size: 25px;
    font-family: 'Aldrich';
    font-weight: bold;
    transition: 0.2s;
    cursor: pointer;
}

.blue_button:focus {
    border: 2px solid #3cabf5;
    color: #eeeeee;
    outline: none;
}